node_modules/
dist/
out/
release/
update-a-publier/
.turbo/
*.log
*.obj
apps/website/*-dist.zip
.DS_Store
Thumbs.db
.env
.env.local
.claude/
*.tsbuildinfo
apps/desktop/src/renderer/dist/
logiciel fini/
